<div class="outer">
    <h2 class="header">Strona internetowa kancelarii prawnej</h2>

    <div class="container grid">
        <div class="grid-item">
            <img src="../../assets/astroview-img/icon.png" alt="" class="app-icon">
        </div>
        <div class="description grid-item">
            <p>
                <span class="app-name">Strona kancelarii</span> była pierwszą aplikacją webową, którą napisałem w
                Angularze, wraz z członkami koła naukowego Netalyze. Jego celem było zapoznanie się z podstawami
                Angulara oraz utrwalenie podstawowych umiejętności i wiedzy o HTML i CSS. Dodatkowo, w ramach projektu,
                pracowaliśmy z biblioteką komponentów <u><a href="https://www.primefaces.org/primeng/">PrimeNG</a></u>.
            </p>
            <div class="link-wrapper">
                <a href="https://github.com/Netalyze/law-firm-website" class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="description grid-item">
            <p>
                W trakcie pracy nad stroną staraliśmy się jak najlepiej zrozumieć założenia <i>Single Page
                    Application</i>.
                Zapoznaliśmy się z działaniem routingu i nawigacji pomiędzy komponentami w Angularze, a także sposobu
                przekazywania danych pomiędzy komponentami przy użyciu dekoratorów <i>@Input</i> i <i>@Output</i>. <br>
                Poznaliśmy i opanowaliśmy również takie mechanizmy jak <i>dependency injection</i> oraz <i>data
                    binding</i>. <br>
                Praca z PrimeNG miała ułatwić nam implementowanie responsywności strony, a także umożliwić korzystanie z
                gotowych komponentów, które wymagały jedynie dostosowania ich kolorystyki do naszej strony.
            </p>
        </div>
        <div class="grid-item mockup-wrapper">
            <img src="../../assets/astroview-img/signin-mockup.png" alt="" class="mockup">
        </div>
    </div>
</div>