.footer {
    background-color: var(--second-color);
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
}

.header {
    font-size: 1.5rem;
    font-weight: var(--font-semi);
    letter-spacing: .1rem;
}

.content {
    margin-top: .5rem;
    font-size: 1.05rem;
}