<div class="outer">
    <h2 class="header">stayLEAN</h2>
    <div class="container grid">
        <div class="description grid-item">
            <p>
                <span class="app-name">stayLEAN</span> to projekt aplikacji mobilnej, która umożliwia użytkownikom
                tworzenie różnych wydarzeń sportowych na mapie miasta, dzięki czemu znajomi (lub nieznajomi!) mogą
                umawiać się ze sobą i wspólnie uprawiać sport.
            </p>
            <div class="link-wrapper">
                <a href="https://github.com/Netalyze/PO-Front" class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/staylean/icon.png" alt="" class="app-icon">
        </div>
    </div>
    <div class="separator"></div>
    <div class="container grid">
        <div class="description grid-item bottom-section">
            <p>
                Głównym założeniem projektu jest stworzenie aplikacji, która pozwoli użytkownikom umawiać się na
                wydarzenia sportowe organizowane w mieście, przy użyciu mapy i wygodnego systemu znaczników.<br>
                Każdy użytkownik, może utworzyć wydarzenie sportowe w dowolnym miejscu na świecie. Określa on
                dyscyplinę, liczbę osób, miejsce i czas, a pozostali użytkownicy mogą zadeklarować swój udział. <br>
                Ponadto, w zamyśle, obiekty sportowe, takie jak kluby fitness, baseny czy studia yogi, również mogą
                dodawać prowadzone przez siebie zajęcia do aplikacji, dzięki czemu użytkownicy mogliby zapisywać się na
                nie bezpośrednio przez stayLEAN, a nie każdorazowo, przez stronę klubu. <br>
                Zdajemy sobie sprawę, że monetyzacja aplikacji jest jej ważną częścią, dlatego otwierając się na
                komercyjne obiekty sportowe, możemy umożliwić im system promocji i reklam wśród użytkowników.
            </p>
        </div>
        <div class="description grid-item bottom-section">
            <p>
                Dodatkowo, aplikacja będzie zawierała moduł fitness, w którym użytkownik będzie mógł ustalić cele, do
                których chce dążyć, zaplanować spersonalizowane diety, skonstruować swój plan ćwiczeń i podzielić się
                nim w społeczności użytkowników. Daje to również możliwość trenerom personalnym na reklamowanie i
                świadczenie swoich usług w ramach aplikacji. <br>
                Obecnie aplikacja jest na etapie projektowania, przyspieszenie prac nastąpi z końcem września, wraz z
                rozpoczęciem pisania pracy inżynierskiej. W dwuosobowym zespole, pracujemy obecnie nad zaprojektowaniem
                interfejsu użytkownika, a przy implementacji w pierwszej kolejności chcemy skupić się na opracowaniu
                mapy z systemem znaczników i możliwością zapisu na wydarzenia.
            </p>
        </div>
    </div>
    <div>
        <picture class="pic-wrapper">
            <source media="(min-width: 768px)" srcset="../../assets/szlakownik/mockup.png">
            <img src="../../assets/szlakownik/mobile-mockup.png" alt="" class="mockup pic-wrapper">
        </picture>
    </div>
</div>