<div class="outer">
    <h2 class="header">Netalyze website</h2>
    <div class="container grid">
        <div class="description grid-item">
            <p>
                <span class="app-name">Netalyze</span> to wydziałowe koło naukowe na Politechnice Wrocławskiej, którego
                mam przyjemność być założycielem a zarazem prezesem. Jako koło domyślnie chcemy zajmować się
                architekturą systemów IT z naciskiem na front-end i UX design.
            </p>
            <div class="link-wrapper">
                <a class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/netalyze/icon.png" alt="" class="app-icon">
        </div>
    </div>
    <div class="separator"></div>
    <div class="container grid">
        <div class="description grid-item bottom-section">
            <p>
                Jako grupa studentów, chcemy wykreować <i>Netalyze</i> na organizację, która będzie realną odpowiedzią
                na rynek pracy - gdzie studenci nauczą się współpracy z najnowszymi technologiami i z zachowaniem
                najnowszych standardów. <br>
                W przyszłości planujemy otwarcie kanału w serwisie YouTube, na którym będą
                umieszczane tutoriale pomagające w nauce zagadnień, którymi będziemy się zajmować.
            </p>
        </div>
        <div class="description grid-item bottom-section">
            <p>Obecnie strona internetowa naszego koła znajduje się wciąż w fazie projektowania - jesteśmy na etapie
                konsultowania wyglądu, kolorystyki i wszelkich detali. <br> Staramy się poświęcać każdą chwilę wolnego
                czasu na projekt i przewidujemy, że niedługo zaczniemy etap implementacyjny. <br> Poniżej znajdują się
                przykładowe mockupy strony mojego autorstwa, które wykonałem w narzędziu Figma.</p>
        </div>
    </div>
    <div>
        <picture class="pic-wrapper">
            <source media="(min-width: 768px)" srcset="../../assets/netalyze/mockup.png">
            <img src="../../assets/netalyze/mobile-mockup.png" alt="" class="mockup pic-wrapper">
        </picture>
    </div>
</div>