<div class="about section" ngsReveal>
    <h2 class="section-title">O mnie</h2>

    <div class="about-container grid">
        <div class="about-img">
            <img src="../../assets/about.jpg" alt="">
        </div>

        <div class="content">
            <h2 class="about-subtitle">Nazywam się Piotr</h2>
            <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                accusantium modi iusto blanditiis voluptatibus, necessitatibus dolor sed vitae facere aspernatur
                tenetur sunt? Reprehenderit cum doloremque maxime ea soluta provident nihil?</p>
        </div>
    </div>
</div>