@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about-img img {
        width: 300px !important;
    }

    .content {
        text-align: initial;
    }
}

.about-container {
    row-gap: 2rem;
    text-align: center;
}

.about-subtitle {
    margin-bottom: var(--mb-2);
}

.about-img {
    justify-self: center;
    border-radius: .5rem;
}

.about-img img {
    border-radius: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}