<div class="outer">
    <h2 class="header">AstroView</h2>

    <div class="container grid">
        <div class="grid-item">
            <img src="../../assets/astroview-img/icon.png" alt="" class="app-icon">
        </div>
        <div class="description grid-item">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptate reiciendis ipsa vero sit,
                laboriosam cumque dignissimos eaque! Aspernatur vel quia sint repellendus iusto at velit sit commodi
                distinctio natus.
            </p>
        </div>
        <div class="description grid-item">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptate reiciendis ipsa vero sit,
                laboriosam cumque dignissimos eaque! Aspernatur vel quia sint repellendus iusto at velit sit commodi
                distinctio natus.
            </p>
            <ul>
                <li>Połączenie aplikacji z bazą danych (Firebase)</li>
                <li>Logowanie i rejestracja przez email i za pomocą <b>Google</b></li>
                <li>Pobieranie danych o horoskopie po API</li>
            </ul>
            <div class="link-wrapper">
                <a href="" class="link">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="grid-item mockup-wrapper">
            <img src="../../assets/astroview-img/signin-mockup.png" alt="" class="mockup">
        </div>
    </div>
</div>