<div class="outer">
    <h2 class="header">AstroView</h2>

    <div class="container grid">
        <div class="description grid-item">
            <p>
                <span class="app-name">AstroView</span> to prosta aplikacja na platformę Android, stworzona w ramach
                zaliczenia kursu związanego z
                programowaniem aplikacji mobilnych. Udostępnia ona użytkownikowi możliwość sprawdzania różnego rodzaju
                horoskopów. Dodatkowo aplikacja jest podłączona do bazy danych <u>Firebase</u>, co umożliwia logowanie,
                rejestrację oraz <u>Google Sign-In</u>.
            </p>
            <div class="link-wrapper">
                <a href="https://github.com/rasiaq/AstroView" class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/astroview-img/icon.png" alt="" class="app-icon">
        </div>
    </div>
    <div class="separator"></div>
    <div class="container grid">
        <div class="description grid-item">
            <p>
                Było to moje pierwsze zetknięcie z programowaniem aplikacji na platformę Android. Bardzo pomogła mi
                znajomość języka Java, musiałem natomiast uzupełnić wiedzę z zakresu pracowania z layoutami w
                Androidzie.<br>
                Logo projektu stworzone przez <u><a href="https://www.freepik.com" target="_blank">Freepick</a></u> oraz
                ikony użyte w
                AstroView pochodzą z <u><a href="https://www.flaticon.com/" target="_blank">Flaticon</a></u>.<br>
                Jedne z najważniejszych rzeczy, które udało mi się wprowadzić do aplikacji to:
            </p>
            <ul>
                <li><b>Połączenie z bazą danych (Firebase) oraz skonfigurowanie logowania i rejestracji</b></li>
                <li><b>Podłączenie Google Sign-In</b> - dzięki współpracy z dokumentacją udało mi się bardzo szybko
                    dodać taką funkcjonalność</li>
                <li><b>Pobieranie danych o horoskopie po API</b> - na podstawie wprowadzonych przez użytkownika danych
                    aplikacja wykonuje zapytania do zewnętrznego API i wyświetla zwrócone dane</li>
            </ul>
        </div>
        <div class="grid-item mockup-wrapper">
            <img src="../../assets/astroview-img/signin-mockup.png" alt="" class="mockup">
        </div>
    </div>
</div>