.header {
    text-align: center;
}

.app-icon {
    display: block;
    width: 100%;
    height: 13rem;
    object-fit: contain;
}

.description {
    margin-top: 1rem;
    text-align: justify; /* nie wiem jeszcze */
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: .5rem;
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        align-self: center;
    }

    .outer {
        margin-top: calc(var(--header-height) + 2rem);
    }
}
