<header class="header">
    <nav class="nav grid">
        <div>
            <a href="#home" class="nav-logo">Rasiński</a>
        </div>

        <div class="nav-menu" id="navmenu" [ngClass]="menuVisible ? 'show' : 'hide'">
            <ul class="nav-list">
                <li class="nav-item"><a href="#about" class="nav-link active" (click)="itemSelected()">O mnie</a></li>
                <li class="nav-item"><a href="#skills" class="nav-link" (click)="itemSelected()">Umiejętności</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link" (click)="itemSelected()">Projekty</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link" (click)="itemSelected()">Kontakt</a></li>
            </ul>
        </div>

        <div class="nav-toggle" id="navtoggle" (click)="itemSelected()">
            <i class="bx bx-menu"></i>
        </div>
    </nav>
</header>