<header class="header">
    <nav class="nav grid">
        <div>
            <a href="#" class="nav-logo">Rasiński</a>
        </div>

        <div class="nav-menu" id="navmenu" [ngClass]="menuVisible ? 'show' : 'hide'">
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link active" (click)="itemSelected($event)">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected($event)">Skills</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected($event)">Work</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected($event)">Contact</a></li>
            </ul>
        </div>

        <div class="nav-toggle" id="navtoggle" (click)="showMenu()">
            <i class="bx bx-menu"></i>
        </div>
    </nav>
</header>