.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        height: 100%;
        width: 80%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav-item {
    margin-bottom: var(--mb-4);
}

.nav-link {
    position: relative;
    color: #ffffff;
}

.nav-link:hover {
    position: relative;
    border-bottom: 1px solid #ffffff;
}

.nav-logo {
    color: var(--second-color);
}

.nav-toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.active {
    border-bottom: 2px solid #ffffff;
}

.show {
    right: 0;
}

.hide {
    right: -100%;
}