.main-container {
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    cursor: pointer;
    transition: 0.5s;
}

.main-container:hover {
    transform: translateY(-1%);
}

.card-img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: .5rem;
}

.title {
    padding: 1rem;
    text-align: center;
}

.description {
    text-align: justify;
    padding: 0 1rem 1rem 1rem;
    letter-spacing: .05rem;
    line-height: 1.6rem;
}

.status {
    padding: 0 1rem .5rem 1rem;
}

.finished {
    color: rgb(2, 145, 2);
}

.in-progress {
    color: rgb(207, 136, 4);
}

a {
    color: var(--second-color);
}