.main-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    cursor: pointer;
    transition: 0.5s;
}

.main-container:hover {
    transform: translateY(-1%);
}

.card-img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: 1rem .5rem .5rem .5rem;
}

.title {
    padding: 1rem;
    text-align: center;
}

.description {
    padding: 0 1.5rem 1rem 1.5rem;
    letter-spacing: .05rem;
    line-height: 1.6rem;
}

.techs {
    padding: 0 1.5rem .5rem 1.5rem;
}

a {
    color: var(--second-color);
}