.section-title::after {
    width: 100px;
}

.description {
    text-align: center;
}

.links {
    margin-bottom: 1rem;
}

.highlight {
    color: var(--first-color);
}

.contact-method {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.icon {
    font-size: 2rem;
    margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .description {
        text-align: initial;
    }

    .links {
        margin-bottom: 0;
    }

    .grid-item {
        align-self: center;
    }
}