<div class="contact section" ngsReveal>
    <h2 class="section-title">Kontakt</h2>
    <div class="contact-container grid">
        <div class="links grid-item">
            <div>
                <a href="https://www.linkedin.com/in/piotr-rasiński-55aa75188/" target="_blank">
                    <div class="contact-method link">
                        <i class='bx bxl-linkedin-square icon'></i>
                        Linkedin
                    </div>
                </a>
            </div>
            <div class="contact-method">
                <i class='bx bx-mail-send icon'></i>
                kontakt@piotrrasinski.pl
            </div>
        </div>
        <div class="description grid-item">
            Zachęcam do kontaktu mailowego na adres
            <span class="highlight">kontakt@piotrrasinski.pl</span>
            lub przez platformę Linkedin, gdzie można znaleźć o mnie więcej informacji.
        </div>
    </div>
</div>