<div class="outer">
    <h2 class="header">Plant Runner</h2>

    <div class="container grid">
        <div class="grid-item">
            <img src="../../assets/astroview-img/icon.png" alt="" class="app-icon">
        </div>
        <div class="description grid-item">
            <p>
                <span class="app-name">Plant Runner</span> to hybrydowa aplikacja webowa, którą stworzyliśmy w
                czteroosobowej drużynie w trakcie hackatonu organizowanego przez <u><a
                        href="https://www.facebook.com/BESTWroclaw">Best Wrocław</a></u>, który był poświęcony
                przeciwdziałaniu zmianom klimatycznym na Ziemi. Mieliśmy 18h na stworzenie aplikacji, a dzięki mojemu
                pomysłowi udało nam się zająć <b>III
                    miejsce</b>. <br>
                <i>Plant Runner jest projektem rozważanym jako temat zespołowego przedsięwzięcia
                    inżynierskiego, realizowanego w ramach jednego z przedmiotów na Politechnice Wrocławskiej, w związku
                    z czym kod źródłowy nie może jeszcze zostać udostępniony.</i>
            </p>
            <div class="link-wrapper">
                <a class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="container grid">
        <div class="description grid-item">
            <p>
                Plant Runner w swoim działaniu przypomina popularną aplikację Endomondo. W założeniu, użytkownik za
                pokonanie ustalonej liczby kilometrów pieszo, rowerem, czy jakimkolwiek innym środkiem transportu niż
                samochód, otrzymuje wirtualną sadzonkę drzewa, która może zostać zasadzona w jego imieniu. <br>
                Aplikacja udostępnia również możliwość zarejestrowania się jako wolontariusz, którego zadaniem jest
                sadzenie sadzonek w wyznaczonych do tego obszarach. <br>
                W ramach mojej części frontendu byłem odpowiedzialny za:
            </p>
            <ul>
                <li><b>Stworzenie formularzy do logowania i rejestracji użytkownika</b></li>
                <li><b>Komunikacja z backendem za pośrednictwem serwisów</b></li>
                <li><b>Dbałość o responsywność komponentów</b></li>
            </ul>
        </div>
        <div class="grid-item mockup-wrapper">
            <img src="../../assets/astroview-img/signin-mockup.png" alt="" class="mockup">
        </div>
    </div>
</div>