<div class="skills section" id="skills">
    <h2 class="section-title">Umiejętności</h2>

    <div class="skills-container grid">
        <div>
            <h2 class="skills-subtitle">Znane języki i technologie</h2>
            <div class="subgrid skills-data">
                <div class="skills-names">
                    <i class="bx bxl-html5 skills-icon"></i>
                    <span class="skills-name">HTML</span>
                </div>
                <div class="skills-names">
                    <i class="bx bxl-css3 skills-icon"></i>
                    <span class="skills-name">CSS</span>
                </div>
                <div class="skills-names">
                    <i class="bx bxl-javascript skills-icon"></i>
                    <span class="skills-name">Javascript</span>
                </div>
                <div class="skills-names">
                    <i class="bx bxl-angular skills-icon"></i>
                    <span class="skills-name">Angular</span>
                </div>
                <div class="skills-names">
                    <i class="bx bxl-github skills-icon"></i>
                    <span class="skills-name">Git</span>
                </div>
                <div class="skills-names">
                    <i class="bx bxl-python skills-icon"></i>
                    <span class="skills-name">Python</span>
                </div>
            </div>
        </div>
        <div>
            <h2 class="skills-subtitle">Znam również</h2>
            <div class="subgrid skills-data">
                <div class="skills-names">
                    <span class="skills-name">Flask</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">SQL</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Linux</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Java</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Android</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Figma</span>
                </div>
            </div>
        </div>
    </div>
</div>
