<div class="skills section">
    <h2 class="section-title">Umiejętności</h2>

    <div class="soft-skills subgrid">
        <div class="card-large">
            <img src="../../assets/cash.svg" alt="" class="icon">
            <h2 class="title">Problem solving</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime praesentium dignissimos
                doloremque minus quidem voluptatibus nostrum laboriosam eaque vero? Quia nihil veritatis, molestias
                voluptatum perferendis sapiente? Praesentium amet at velit!</p>
        </div>
        <div class="card-large">
            <img src="../../assets/cash.svg" alt="" class="icon">
            <h2 class="title">Problem solving</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime praesentium dignissimos
                doloremque minus quidem voluptatibus nostrum laboriosam eaque vero? Quia nihil veritatis, molestias
                voluptatum perferendis sapiente? Praesentium amet at velit!</p>
        </div>
        <div class="card-large">
            <img src="../../assets/cash.svg" alt="" class="icon">
            <h2 class="title">Problem solving</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime praesentium dignissimos
                doloremque minus quidem voluptatibus nostrum laboriosam eaque vero? Quia nihil veritatis, molestias
                voluptatum perferendis sapiente? Praesentium amet at velit!</p>
        </div>
    </div>
    <div class="skills-container grid">
        <div style="margin-bottom: 1.5rem;">
            <h2 class="skills-subtitle">Języki i technologie</h2>
            <div class="subgrid skills-data" [ngsRevealSet]="{reset: false}" [ngsInterval]="70"
                [ngsSelector]="'.skills-names'">
                <div class="skills-names">
                    <i class="bx bxl-html5 skills-icon"></i>
                    HTML
                </div>
                <div class="skills-names">
                    <i class="bx bxl-css3 skills-icon"></i>
                    CSS
                </div>
                <div class="skills-names">
                    <i class="bx bxl-javascript skills-icon"></i>
                    Javascript
                </div>
                <div class="skills-names">
                    <i class="bx bxl-angular skills-icon"></i>
                    Angular
                </div>
                <div class="skills-names">
                    <i class="bx bxl-github skills-icon"></i>
                    Git
                </div>
                <div class="skills-names">
                    <i class="bx bxl-python skills-icon"></i>
                    Python
                </div>
            </div>
        </div>
        <div>
            <h2 class="skills-subtitle">Znam również</h2>
            <div class="subgrid skills-data" ngsReveal>
                <div class="skills-names">
                    <span class="skills-name">REST</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">SQL</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Linux</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Java</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Android</span>
                </div>
                <div class="skills-names">
                    <span class="skills-name">Figma</span>
                </div>
            </div>
        </div>
    </div>
</div>