<div class="outer">
    <h2 class="header">Portfolio</h2>

    <div class="container grid">
        <div class="description grid-item">
            <p>
                <span class="app-name">Portfolio</span> pierwotnie miało służyć mi wyłącznie w celach reprezentacyjnych,
                jako wizytówka. Szybko okazało się jednak, że był to świetny trening moich umiejętności w web
                developmencie, w trakcie którego nauczyłem sie wiele o pozycjonowaniu elementów na stronie i routingu w
                Angularze.
            </p>
            <div class="link-wrapper">
                <a href="https://github.com/rasiaq/AstroView" class="link" target="_blank">
                    <i class='bx bxl-github icon'></i>
                    Repozytorium na Githubie
                </a>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/astroview-img/icon.png" alt="" class="app-icon">
        </div>
    </div>
    <div class="separator"></div>
    <div class="container grid">
        <div class="description grid-item bottom-section">
            <p>
                Pierwotnie zainspirowałem się tutorialem na YouTube, z którego zaczerpnąłem pomysł na navbar oraz dwie
                górne sekcje na stronie głównej. <br>Chcąc położyć duży nacisk na responsywność strony, nauczyłem się
                lepiej korzystać z grid i flex layout oraz projektowałem stronę w pierwszej kolejności na widoku
                mobilnym.<br>
                Dla uatrakcyjnienia skorzystałem z biblioteki <a
                    href="https://github.com/jlmakes/scrollreveal">ScrollReveal</a>, która nadała elementom animacje
                odsłaniania.<br>
            </p>
        </div>
        <div class="description grid-item">
            <p>Najważniejsze elementy, które udało się zrealizować w ramach projektu to:</p>
            <ul>
                <li><b>Stworzenie w pełni responsywnego widoku, opartego na grid layout</b></li>
                <li><b>Wykorzystanie routingu do nawigacji między komponentami</b></li>
                <li><b>Praca z funkcjonalnościami dostarczanymi przez Angulara</b> - m.in korzystanie z dyrektyw *ngFor
                    i *ngIf oraz mechanizmu przekazywania danych między komponentami</li>
                <li><b>Nauka Adobe Photoshop i Illustrator</b> - miałem okazję zapoznać się z tymi narzędziami w trakcie tworzenia mockupów i ikon projektów</li>
            </ul>
        </div>
    </div>
    <div>
        <picture class="pic-wrapper">
            <source media="(min-width: 768px)" srcset="../../assets/szlakownik/mockup.png">
            <img src="../../assets/szlakownik/mobile-mockup.png" alt="" class="mockup pic-wrapper">
        </picture>
    </div>
</div>