@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr) !important;
        align-items: start;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.content {
    margin-top: .6rem;
}

.section {
    background-color: #272848;
    padding-bottom: 2rem;
}

.section-title {
    color: #54c1fb;
}

.section-title:after {
    width: 110px;
    background-color: #54c1fb;
}