@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr) !important;
        align-items: start;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.content {
    margin-bottom: 1rem;
}

.section-title:after {
    width: 110px;
}