p {
    font-size: 1.1rem;
}

.header {
    text-align: center;
    font-size: 2.75rem;
}

.app-icon {
    display: block;
    width: 100%;
    height: 13rem;
    object-fit: contain;
    margin: 1rem 0;
}

.mockup {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: contain;
}

.mockup-wrapper {
    margin: 1rem 0;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify; /* nie wiem jeszcze */
}

ul {
    text-align: initial;
    list-style-type: disc;
    list-style-position: inside;
    margin-top: .5rem;
}

ul li {
    font-size: 1.1rem;
    margin-top: .5rem;
}

.link-wrapper {
    margin-top: 1.5rem;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: black;
}

.app-name {
    font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        align-self: center;
    }

    .outer {
        margin-top: calc(var(--header-height) + 2rem);
    }

    .link-wrapper {
        margin-top: 2rem;
    }

    .description {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
