@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Root element - definiujemy globalne zmienne poprzedzone --*/
:root {
    --header-height: 3rem;
    --font-semi: 600;

    --first-color: #4070F4;
    --second-color: #0E2431;

    --body-font: 'Poppins', sans-serif;
    --large-font-size: 2rem; /* wartość root size */
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
    :root {
        --body-font: 'Poppins', sans-serif;
        --large-font-size: 3.5rem; /* wartość root size */
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* Marginesy */
:root {
    --mb-1: 0.5rem; /* margin-bottom */
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* z - index: pozycjonowanie elementów względem osi z */
:root {
    --z-back: -10;
    --z-normal: -10;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Wkładanie kontentu na początek i koniec np. diva */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    /* Display definiuje jak zostaną wyświetlone elementy
    W tym przypadku block: w nowej linii i zajmą całą szerokość */
    display: block;
}

.section-title {
    position: relative;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    top: 2rem;
    left: 0rem;
    right: 0;
    margin: auto;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* LAYOUT */
/* Ręczne utworzenie gridu na stronie */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%; /* rozmiar kolumny */
    grid-column-gap: 2rem;
    width:calc(100% - 2rem); /* dynamiczna szerokość */
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
