<div class="home grid" id="home">
    <div class="home-data">
        <h1 class="home-title">Cześć, <br>nazywam się <span class="home-title-color">Piotr</span><br>front-end
            deweloper</h1>
        <div class="home-social">
            <a href="https://www.linkedin.com/in/piotr-rasiński-55aa75188/" target="_blank" class="home-social-icon"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/rasiaq" target="_blank" class="home-social-icon"><i class="bx bxl-github"></i></a>
            <a href="mailto:kontakt@piotrrasinski.pl" class="home-social-icon"><i class='bx bx-mail-send'></i></a>
        </div>
        <a href="" class="button">Kontakt</a>
    </div>


    <div class="home-img">
        <img src="../../assets/perfil.png" alt="">
    </div>
</div>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-projects-cards id="projects"></app-projects-cards>